@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  body {
    @apply dark:bg-backgrounddark ;
    /* background-color: #fbfdff; */
  }
}

/* .myNavigation {
  background: url(../public/Bg/glassmorphism/bottom\ small.svg);
  background-repeat: no-repeat;
  background-position: left;
} */

.myHero {
  /* background: url(../public/Bg/glassmorphism/bg-right-top.svg); */
  /* background: url(../public/Bg/dimension/Desktop\ -\ 3.svg); */
  background-repeat: repeat;
  background-position: center;
}




/* .featured-card {
  background: url(../public/Bg/glassmorphism/gray.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.featured-card2 {
  background: url(../public/Bg/glassmorphism/blue-bottom-right-2.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.featured-card3 {
  background: url(../public/Bg/glassmorphism/yellow2.svg);
  background-repeat: no-repeat;
  background-position: center;
} */


/* Pages BG */
/* Guestbook */
.guestbook {
  background: url(../public/Bg/dimension/Desktop\ -\ 3.svg);
  background-repeat: no-repeat;
  background-position: center;
}
/* Akhir Guestbook */





.myScrollbar::-webkit-scrollbar {
  display: none;
}


.MyGuestbook {
  background: url(../public/Bg/paterrn/batthern.png);
}


/* .myHero h1 .vin {
  background: url(../public/shape/header-shape.32875466.png);
  background-repeat: repeat;
  background-size: cover;
} */

.contact {
  background: url(../public/Bg/bgpatern7.webp);
}

.link-underline {
  /* border-bottom-width: 0; */
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out;

}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient( to right , #22d3ee, #bef264, #defaae   )
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}

 @keyframes rainArrow {
   0% {
     transform: translateY(-100%);
    }
    40% {
      transform: translateY(-20%);
    }
    50% {
  transform: translateY(0);
}
100% {
  transform: translateY(100%);
}
}

.animate-rain-arrow {
  animation: rainArrow 1s ease-out infinite;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: rainArrow;
  animation-timeline: auto;
  animation-range-start: normal;
  animation-range-end: normal;
}
